<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="naruto, anime, dragon ball">
    <meta name="description" content="Everithing you want to know about anime is here!">

    <link rel="shortcut icon" href="../assets/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/styles/styleFlex.css">

    <title>Todo Anime</title>
</head>

<body>

    <header>
        <div class="header_title">
            <img src="../assets/images/logo1.png" alt="dragon ball logo">
            <h1>Todo Anime</h1>
            <img src="../assets/images/logo2.png" alt="naruto logo">
        </div>
        <nav class="header_navbar">
            <a href="#">Principal</a>
            <a href="#">Favoritos</a>
            <a href="#">Contacto</a>
        </nav>

    </header>

    <main>
        <section class="recomended">
            <h2>Recomendados</h2>
            <div class="conteinerRecomended">
            <article class="card">
                <img src="../assets/images/onePiece.jpg" alt="one piece image">
                <h4>One Piece</h4>
            </article>
            <article class="card">
                <img src="../assets/images/deathNote.jpg" alt="death note image">
                <h4>Death Note</h4>
            </article>
            <article class="card">
                <img src="../assets/images/evangelion.jpg" alt="evangelion image">
                <h4>Evangelion</h4>
            </article>
        </div>
        </section>

        <section class="platform">

            <h2>Plataformas para ver Animes</h2>
            
            <div class="containerPlat">
                
                <article class="listPlatform">
                    <ol class="orderList">
                        <li>Netflix</li>
                        <li>Amazon Prime</li>
                        <li>HBO Max</li>
                        <li>Crunchyroll</li>
                    </ol>
                </article>


                <article class="tablePlatform">
                    <table>
                        <thead>
                            <tr>
                                <th>Plataforma</th>
                                <th>Tarifa</th>
                            </tr>
    
                        </thead>
                        <tbody>
                            <tr>
                               <td>Netflix</td>
                               <td>$180</td>
                            </tr>
                            <tr>
                               <td>Amazon Prime</td>
                               <td>$100</td>
                            </tr>
                            <tr>
                               <td>HBO Max</td>
                               <td>$150</td>
                            </tr>
                            <tr>
                               <td>Crunchyroll</td>
                               <td>$9.99</td>
                            </tr>
                        </tbody>
    
    
                    </table>
    
    
    
    
    
    
                </article>


            </div>
            
            
            
           
        </section>


    </main>

    <footer class="footer">
        <p>2024 - Todos los derechos reservados &reg; </p>
        <form action="./show_data.html" method="get">
            <fieldset>
                <legend>Suscribite</legend>
                <label>Email
                    <input type="email" name="email" id="email">
                </label>
                <button type="submit">SUBMIT</button>
            </fieldset>
        </form>
        <p>Mariela Morsucci</p>

    </footer>


</body>

</html>